<h1><%= @handbook_category.title %></h1>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @handbook_documents.each do |handbook_document| %>
      <tr>
        <td><%= link_to handbook_document.title, [@handbook_category, handbook_document] %></td>
        <td><%= link_to 'Edit', edit_handbook_category_handbook_document_path(@handbook_category, handbook_document) %></td>
        <td><%= link_to 'Delete', [@handbook_category, handbook_document], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Handbook document', new_handbook_category_handbook_document_path, :class => 'btn btn-default' %>
