<%= render 'elements/notice' %>

<%= render 'elements/handbooknav' %>

<h1><%= @handbook_document.title %></h1>

<iframe src="<%= @handbook_document.document.url %>" class="handbook-document"></iframe>

<p>
  <%= link_to 'Edit', edit_handbook_category_handbook_document_path(@handbook_category, @handbook_document) %> |
  <%= link_to 'Back', handbook_category_handbook_documents_path %>
</p>
