<%= form_for(@page) do |f| %>
  <% if @page.errors.any? %>
    <div class="alert alert-info">
      <% @page.errors.full_messages.each do |message| %>
        <%= message %><br>
      <% end %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.text_field :title, :placeholder => 'Title', :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.text_area :text, :class => "tinymce" %>
    <%= tinymce %>
  </div>
  <% if !@page.children.present? %>
    <div class="form-group">
      <label>Parent Page (optional)</label>
      <select id="page_parent_id" name="page[parent_id]" class="form-control">
        <option value="">None</option>
        <% @pagesList.each do |page| %>
          <% if page.slug != @page.slug %>
            <% if page.id == @page.parent_id %>
              <option value="<%= page.id %>" selected>
                <%= page.title %>
              </option>
            <% else %>
              <option value="<%= page.id %>">
                <%= page.title %>
              </option>
            <% end %>
          <% end %>
        <% end %>
      </select>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :link, 'Redirect URL (optional)' %>
    <%= f.input :link, :class => 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>
