<%= render 'elements/notice.html.erb' %>

<h1>Listing Pages</h1>

<table class="table">
  <thead>
    <tr>
      <th width="80%">Title</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><%= link_to page.title, page %></td>
        <td><%= link_to 'Edit', edit_page_path(page) %></td>
        <td><%= link_to 'Delete', page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Page', new_page_path %>
