<h1><%= @page.title %></h1>

<%= raw(@page.text) %>

<% if @page.page_attachments.present? %>
  <%= render 'attachments' %>
<% end %>

<div class="row">
  <div class="col-md-6">
    <p>
      <%= link_to 'Back', pages_path %>
    </p>
  </div>
  <div class="col-md-6 right">
    <p>
      <%= link_to 'Upload Attachment', new_page_page_attachment_path(@page), :class => 'btn btn-default btn-sm' %> &nbsp;
      <%= link_to 'Edit', edit_page_path(@page), :class => 'btn btn-primary btn-sm' %>
    </p>
  </div>
</div>
