<div class="mini-form">
  <%= form_for [@page, @page_attachment] do |f| %>
    <% if @page_attachment.errors.any? %>
      <div class="alert alert-danger">
        <h2><%= pluralize(@page_attachment.errors.count, "error") %> prohibited this page_attachment from being saved:</h2>

        <ul>
        <% @page_attachment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :title %><br>
      <%= f.text_field :title, :class => 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :attachment %>
      <%= f.file_field :attachment %>
    </div>
    <div class="actions">
      <%= f.submit :class => 'btn btn-primary' %>
    </div>
  <% end %>
</div>
