<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Intranet</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= tinymce_assets %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <nav class="navbar navbar-default">
      <div class="container">
        <a href="/" class="navbar-brand">EHS Staff Intranet</a>
      </div>
    </nav>

    <div class="header">
      <div class="container">
        <div class="row">
          <div class="col-md-1">
            <%= image_tag 'ehs.png', :alt => "EHS Logo" %>
          </div>
          <div class="col-md-11">
            <span class="title">
              Esher C of E High School
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="container">

      <%= yield %>

    </div>

    <footer>
      <div class="container">
        <p>
          Copyright &copy; Esher C of E High School <%= Time.now.year %>
        </p>
      </div>
    </footer>

  </body>
</html>
