<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <% if @title.present? %>
      <title><%= @title %> - EHS Staff Intranet %></title>
    <% else %>
      <title>EHS Staff Intranet</title>
    <% end %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= tinymce_assets %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= render 'elements/cms' %>

    <div class="header">
      <div class="container">
        <div class="row">
          <div class="col-md-1">
            <%= link_to (image_tag 'ehs.png', :alt => "EHS Logo"), '/' %>
          </div>
          <div class="col-md-11">
            <span class="title">
              <%= link_to 'Esher C of E High School', '/' %>
            </span>
          </div>
        </div>
      </div>
    </div>

    <%= render 'elements/navigation' %>

    <div class="container">

      <%= yield %>

    </div>

    <footer>
      <div class="container">
        <p>
          EHS Staff Intranet Version <%= @version %><br>
          Copyright &copy; Esher C of E High School <%= Time.now.year %><br>
          <a href="https://github.com/Esher-High-School/Intranet-2.0">GitHub</a>
        </p>
      </div>
    </footer>

  </body>
</html>
